<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Dashboard</h4>
        </div>
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Three charts -->
    <!-- ============================================================== -->
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{totalSong}}</h3>
  
                  <p>Tổng số bài hát</p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-musical-note"></i>
                </div>
                <a [routerLink]="['/list-song']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{totalAlbum}}</h3>

                <p>Tổng số Album</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-musical-notes"></i>
              </div>
              <a [routerLink]="['/list-album']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{totalUser}}</h3>
  
                  <p>Tổng số Users</p>
                </div>
                <div class="icon">
                  <i class="ion ion-ios-people"></i>
                </div>
                <a [routerLink]="['/list-user']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{newPayment}}</h3>
  
                  <p>Đăng Ký Mới Trong Tháng</p>
                </div>
                <div class="icon">
                  <i class="ion ion-card"></i>
                </div>
                <a [routerLink]="['/list-user']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{newAlbum}}</h3>

                <p>Album Mới Trong Tháng</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-musical-notes"></i>
              </div>
              <a [routerLink]="['/list-album']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{newUser}}</h3>
  
                  <p>User Mới Trong Tháng</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a [routerLink]="['/list-user']" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="d-md-flex mb-3">
                    <h3 class="box-title mb-0">List Trending</h3>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap">
                        <tbody *ngFor="let item of listTrending; let i = index">
                            <tr>
                                <td>{{i+1}}</td>
                                <td class="txt-oflo"><img [src]="item.image" alt="" class="img-fluid img-avatar"></td>
                                <td>{{item.title}}</td>
                                <td class="txt-oflo">{{item.listenCountReset}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div style="display: block; width: 100%;">
            <canvas style="width: 100%;" id="myChart2"></canvas>
          </div>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <h3 style="padding-top: 3%;" class="text-center">Tỷ lệ nghe theo thể loại</h3>
          <div style="display: block; width: 100%;" class="piechart">
            <canvas style="width: 50%; margin: auto; padding-top: 2%;" id="myChart"></canvas>
          </div>
        </div>
    </div>
    
    
</div>

<script src="assets/js/pages/dashboards/dashboard1.js"></script>

