<div class="page-breadcrumb bg-white">
    
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Danh sách tham số hệ thống</h3>
                <a class="btn btn-primary" [routerLink]="['/form-system-param']">Thêm mới</a>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0 text-center">#</th>
                                <th class="border-top-0 text-center">Tên tham số</th>
                                <th class="border-top-0 text-center">Giá trị</th>
                                <th class="border-top-0 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let param of listParam; let i = index">
                            <tr>
                                <td class="text-center">{{(currentPage*5)+i+1}}</td>
                                <td class="text-center">{{param.paramName}}</td>
                                <td class="text-center">{{param.paramValue}}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item item-dropdown" [routerLink]="['/form-system-param/',param.id]">Edit</a></li>
                                          <li><a class="dropdown-item item-dropdown" (click)="onDelete(param.id)">Delete</a></li>
                                        </ul>
                                      </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div aria-label="..." id="paginationPage" style="padding-left: 40%;">
                        <ul class="pagination ">
                          <li class="page-item ">
                            <button class="page-link" [disabled]="previousPageDisable" (click)="previusPage()">Previous</button>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#" id="currentPage">{{currentPage+1}}</a>
                          </li>
                          <li class="page-item">
                            <button class="page-link" (click)="nextPage()" [disabled]="nextPageDisable">Next</button>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
