<div class="page-breadcrumb bg-white">
    <form class="form-group" [formGroup]="artistFormSearch" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Tìm kiếm</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <mat-form-field class="example-form-field" appearance="fill">
                                <mat-label>Tìm theo tên</mat-label>
                                <input matInput type="text" formControlName="name">
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="example-form-field">
                                <mat-label>Theo giới tính</mat-label>
                                <mat-select formControlName="gender">
                                    <mat-option value="">Tất cả</mat-option>
                                    <mat-option value="Male">Nam</mat-option>
                                    <mat-option value="Female">Nữ</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <mat-form-field appearance="fill" class="example-form-field">
                                <mat-label>Theo quốc tịch</mat-label>
                                <mat-select formControlName="nationality">
                                    <mat-option value="">Tất cả</mat-option>
                                    <mat-option *ngFor="let item of listCountries" [value]="item.name">{{item.name}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-secondary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Danh sách nghệ sĩ</h3>
                <a class="btn btn-primary" [routerLink]="['/form-artist']">Thêm mới</a>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0 text-center">STT</th>
                                <th class="border-top-0 text-center">Ảnh</th>
                                <th class="border-top-0 text-center">Tên</th>
                                <th class="border-top-0 text-center">Giới tính</th>
                                <th class="border-top-0 text-center">Ngày sinh</th>
                                <th class="border-top-0 text-center">Quốc tịch</th>
                                <th class="border-top-0 text-center">#</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let artist of listArtist; let i = index">
                            <tr>
                                <td class="text-center">{{(currentPage*5)+i+1}}</td>
                                <td class="text-center">
                                    <img [src]="artist.avatar" alt="" class="img-fluid img-avatar">
                                </td>
                                <td class="text-center">{{artist.name}}</td>
                                <td class="text-center">{{artist.gender}}</td>
                                <td class="text-center">{{artist.birthday}}</td>
                                <td class="text-center">{{artist.nationality}}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <a type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item item-dropdown" [routerLink]="['/form-artist/',artist.id]">Chỉnh sửa</a></li>
                                          <li><a class="dropdown-item item-dropdown" href="javascript:void(0)" (click)="onDelete(artist.id)">Xóa</a></li>
                                        </ul>
                                      </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div aria-label="..." id="paginationPage" style="padding-left: 40%;">
                        <ul class="pagination ">
                          <li class="page-item ">
                            <button class="page-link" [disabled]="previousPageDisable" (click)="previusPage()">Trang trước</button>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#" id="currentPage">{{currentPage+1}}</a>
                          </li>
                          <li class="page-item">
                            <button class="page-link" (click)="nextPage()" [disabled]="nextPageDisable">Trang tiếp</button>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
