<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4  id="page-title" *ngIf="albumId == null" class="page-title">Thêm mới</h4>
            <h4  id="page-title" *ngIf="albumId != null" class="page-title">Chỉnh sửa</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <!-- <ol class="breadcrumb ms-auto">
                    <li><a href="#" class="fw-normal">Dashboard</a></li>
                </ol>
                <a href="https://www.wrappixel.com/templates/ampleadmin/" target="_blank"
                    class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Upgrade
                    to Pro</a> -->
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-group" [formGroup]="albumForm" (ngSubmit)="onSubmit()">
                        <input type="hidden" formControlName="id">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name" class="form-label">Album</label>
                                    <input
                                        type="text" formControlName="name" class="form-control" required 
                                        id="name" name="name" placeholder="Nhập tên album">
                                    <small id="issue-subject" *ngIf="name?.invalid && name?.touched" class="text-danger">Vui lòng nhập tên album</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender" class="form-label">Nghệ sĩ</label>
                                    <select class="form-select" formControlName="artistId">
                                        <option value="">Lựa chọn nghệ sĩ</option>
                                        <option *ngFor="let item of listArtist" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                    <small id="issue-subject" *ngIf="artistId?.invalid && artistId?.touched" class="text-danger">Vui lòng chọn nghệ sĩ</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date" class="form-label">Ngày ra mắt</label>
                                    <input type="date" formControlName="releaseDate" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="totalTime" class="form-label">Tổng thời gian</label>
                                    <input type="text" formControlName="totalTime" class="form-control">
                                    <small id="issue-subject" *ngIf="totalTime?.invalid" class="text-danger">Vui lòng nhập theo định dạng: 1h 1m 1s</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="avatar" class="form-label">Ảnh đại diện</label>
                                    <input type="file" (change)="onFileSelect($event)" class="form-control" id="avatar" name="avatar">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <img  id="preview" data-bs-toggle="modal" data-bs-target="#exampleModal" #previewImg [ngStyle]="{'height.px': divStyle}"> 
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" style="max-width: 50%;">
                              <div class="modal-content">
                                <div class="modal-body">
                                    <img #preview style="width: 100%; height: 100%;"> 
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button style="margin-top: 10px;" [disabled]="albumForm.invalid " type="submit" id="saveForm" class="btn btn-primary">Lưu</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
