<div class="page-breadcrumb bg-white">
    <form class="form-group" [formGroup]="genreForm" (ngSubmit)="onSubmit()">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Search</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" formControlName="name" class="form-control" id="name" name="name" placeholder="Search Name">
                        </div>
                    </div>
                </div>
                <div class="row text-right">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Genre List</h3>
                <a class="btn btn-primary" [routerLink]="['/form-genre']">Add New</a>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-top-0 text-center">#</th>
                                <th class="border-top-0 text-center">Avatar</th>
                                <th class="border-top-0 text-center">Name</th>
                                <th class="border-top-0 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let genre of listGenre; let i = index">
                            <tr>
                                <td class="text-center">{{(currentPage*5)+i+1}}</td>
                                <td class="text-center">
                                    <img [src]="genre.avatar" alt="" class="img-fluid img-avatar">
                                </td>
                                <td class="text-center">{{genre.name}}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                          <li><a class="dropdown-item item-dropdown" [routerLink]="['/form-genre/',genre.id]">Edit</a></li>
                                          <li><a class="dropdown-item item-dropdown" (click)="onDelete(genre.id)">Delete</a></li>
                                        </ul>
                                      </div>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <div aria-label="..." id="paginationPage" style="padding-left: 40%;">
                        <ul class="pagination ">
                          <li class="page-item ">
                            <button class="page-link" [disabled]="previousPageDisable" (click)="previusPage()">Previous</button>
                          </li>
                          <li class="page-item active">
                            <a class="page-link" href="#" id="currentPage">{{currentPage+1}}</a>
                          </li>
                          <li class="page-item">
                            <button class="page-link" (click)="nextPage()" [disabled]="nextPageDisable">Next</button>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
